*{margin: 0; padding: 0}
@import "fonts.scss";
$font: 'FontAwesome'; 
$red: #ff0101;
$yellow: #fffc00;
body {
    box-sizing: border-box;
    color: #222222;
    padding: 0 !important; 
    font-size: 15px;  
    line-height: 1.6;
    position: relative;
    font-weight: normal;
    font-family: 'Roboto'; 
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;       
        transition: .3s all;  
        margin-bottom: 0;  
        outline: none !important;  
    }    
    a {  
        transition: .3s all !important; 
        color: #000000;
        &:hover { 
        }    
    } 
    ul {    
    	padding: 0; 
    	margin: 0; 
    }   
    input, button {   
    	outline: none !important; 
    	box-shadow: none; 
    	transition: .3s all;  
    }
    .slick-slide {
    	height: auto;     
        img {
            display: inline;
        }
    }
    .container {
        width: 100%;
        max-width: 1200px;
    }
    .container-fluid {
        padding: 0 30px;
    }  
    img {
        max-width: 100%;
    }
}
.slick-slider {
    margin-bottom: 0;
}
.avarta {
    overflow: hidden;
    img { 
        transition: .7s all;
        &:hover {
            transition: .7s all;
            transform: scale(1.08);
        }
    }
}  
@import "layer.scss";

.title {
    margin-bottom: 35px;
    p {
        text-transform: initial;
        margin-top: 5px;
    }
    h2 {
        padding-bottom: 10px;
        font-family: 'SVN-The Voice';
        position: relative;
        color: #ff0101; 
        &:after {
            content: "";
            width: 180px;
            height: 1px;
            background: #ff0101;
            position: absolute;
            bottom: 0;
            left: calc(50% - 90px);
        }
    }
}

.slide-banner {
    position: relative;
    &.slide-home {
        .item {
            .avarta {
                img {
                    height: 90vh;
                }
            }
        }
    }
    .item {
        position: relative;
        .avarta {
            img {
                height: 50vh;
                object-fit: cover;
            }
        }
    }
    .caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 2;
        color: #fff;
    }
}

.info-caption {
    h3 {
        font-family: 'SVN-The Voice';
        font-size: 40px;
    }
    h2 {
        font-family: 'SVN-The Voice';
        font-size: 60px;
        padding: 30px 0;
    }
    .desc {
        margin-bottom: 30px;
    }
}
.btn-pccc {
    a {
        background: $yellow;
        height: 40px;
        display: inline-flex;
        align-items: center;
        padding: 0 30px;
        border-radius: 30px;
        font-weight: 600;
        &:hover {
            color: #fff;
            background: $red;
        }
    }
}

.box-prd {
    padding: 40px 0;
    ul {
        list-style: none;
    }
}
.list-prd {
    .row {
        margin: 0;
        .col-md-3 {
            padding: 0;
            border: 1px solid #aaa;
        }
    }
}
.item-prd {
    height: 100%;
    padding: 10px;
    .avarta {
        margin-bottom: 20px;
        img {
            height: 163px;
            object-fit: cover;
        }
    }
    .info {
        padding-bottom: 10px;
        h3 {
            a {
                display: block;
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }
    .btn-buy {
        font-size: 14px;
        font-weight: 500;
        a {
            color: $red;
        }
    }
}

.btn-view-all {
    margin-top: 40px;
    a {
        display: inline-flex;
        height: 40px;
        font-weight: bold;
        align-items: center;
        background: $yellow;
        padding: 0 40px;
        border-radius: 40px;
        &:hover {
            color: #fff;
            background: $red;
        }
    }
}

.list-cate-bar {
    border: 1px solid #aaa;
    li {
        border-bottom: 1px solid #aaa;
        &:last-child {
            border-bottom: 0;
        }
    }
    a {
        padding: 16.5px;
        display: flex;
        align-items: center;
        position: relative;
        &:after {
            content: url('../images/after-right.png');
            position: absolute;
            top: calc(50% - 16px);
            right: -25px;
            transition: .3s all !important;
            opacity: 0;
        }
        img {
            margin-right: 15px;
        }
        &.active, &:hover {
            background: $red; 
            color: #000000;
            &:after {
                opacity: 1;
            }
        }
    }
}
.slide-srv {
    margin: 0 -11px;
    .item-slide {
        padding: 0 11px;
    }
}

.box-service {
    padding: 40px 0;
    color: #fff;
    background-size: cover !important;
    .title {
        h2 {
            color: #fff;
            &:after {
                background: #fff;
            }
        }
    }
}
.item-srv {
    position: relative;
    .avarta {
        img {
            height: 365px;
            object-fit: cover;
        }
    }
    .info {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 15px;
        pointer-events: none;
    }
    a {
        color: #fff;
        display: block;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.4;
    }
}
.box-why {
    padding-top: 40px;
}
.list-why {
    .col-md-4 {
        margin-bottom: 40px;
    }
}
.item-why {
    display: flex;
    align-items: center;
    .icon {
        flex: 0 0 55px;
        margin-right: 15px;
    }
    .info {
        line-height: 1.4;
        h3 {
            font-weight: 500;
            font-size: 18px;
            color: #58595b;
            text-transform: uppercase;
            margin-bottom: 8px;
        }
    }
}

.box-maps {
    padding: 40px 0;
}
.box-form {
    position: relative;
    .list-txt {
        padding-right: 145px;
    }
    .item {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        input {
            width: 100%;
            height: 45px;
            border: 1px solid #000000;
            background: #e1e1e1;
            padding: 0 15px;
            border-radius: 10px;
            &::placeholder {
                color: #000000;
            }
        }
        textarea {
            width: 100%;
            height: 100px;
            border: 1px solid #000000;
            background: #e1e1e1;
            padding: 10px 15px;
            border-radius: 10px;
            outline: none;
            &::placeholder {
                color: #000000;
            }
        }
    }
    .btn-submit {
        position: absolute;
        bottom: 8px;
        right: 40px;
        input {
            width: 97px;
            height: 45px;
            border-radius: 30px;
            border: 0;
            background: $yellow;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                color: #fff;
                background: $red;
            }
        }
    }
}
.maps {
    iframe {
        width: 100%;
        height: 355px;
    }
}

.item-new {
    background: #e7e7e7;
    height: 100%;
    .info {
        a {
            display: block;
            font-size: 15px;
            padding: 15px;
            line-height: 1.4;
        }
    }
    .avarta {
        img {
            height: 249px;
            object-fit: cover;
        }
    }
}

.slide-prj {
    margin: 0 -12px;
    .item-slide {
        padding: 0 12px;
    }
}
.item-prj {
    position: relative;
    &:hover {
        .info {
            transform: scale(1);
        }
    }
    .avarta {
        img {
            height: 427px;
            object-fit: cover;
        }
    }
    .info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background: #00000094;
        color: #fff;
        font-weight: 300;
        pointer-events: none;
        transition: .5s all !important;
        transform: scale(0);
        h3 {
            a {
                font-weight: 500;
                font-size: 18px;
                line-height: 1.5;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 8px;
                color: #fff;
            }
        }
    }
}
.btn-more {
    text-align: center;
    margin-top: 30px;
    a {
        height: 40px;
        background: $red;
        display: inline-flex;
        align-items: center;
        padding: 0 16px;
        font-weight: 500;
        color: #fff;
        border-radius: 4px;
        border: 1px solid $red;
        &:hover {
            background: #fff;
            color: $red;
        }
    }
}

.contact {
    padding-top: 60px;
}
.txt-ctn {
    h1 {
        font-size: 22px;
        color: #00adef;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 22px;
        color: #fb1601;
    }
    ul {
        padding-top: 15px;
        list-style: none;
        li {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.form-ct {
    font-size: 14px;
    .row {
        margin: 0 -7px;
        .col-md-6 {
            padding: 0 7px;
            margin-bottom: 15px;
        }
        .col-md-12 {
            padding: 0 7px;
            margin-bottom: 15px;
        }
    }
    .inp_txt {
        width: 100%;
        padding: 0 15px;
        height: 35px;
        border-radius: 4px;
        border: 1px solid #ddd;
    }
    textarea {
        width: 100%;
        padding: 10px 15px;
        height: 100px;
        border-radius: 4px;
        border: 1px solid #ddd;
        outline: none;
    }
}
.btn-contact {
    height: 35px;
    cursor: pointer;
    padding: 0 15px;
    background: #fb1601;
    border: 0;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    &:hover {
        background: #01aeef;
    }
}
.news {
    padding-top: 60px;
    .col-md-6 {
        margin-bottom: 30px;
    }
}
.item-news {
    display: flex;
    .avarta {
        flex: 0 0 211px;
        margin-right: 20px;
        img {
            height: 158px;
            object-fit: cover;
        }
    }
    .info {
        a {
            display: block;
            font-size: 16px;
        }
        .date {
            color: #6c75a7;
            font-size: 14px;
            padding: 8px 0;
        }
        .desc {
            font-size: 14px;
        }
    }
}
.detail {
    p {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    img {
        max-width: 100%;
    }
}
.detail-title {
    margin-bottom: 20px;
    h1 {
        font-size: 25px;
        position: relative;
        text-align: center;
        color: #ed1b26;
        font-weight: bold;
        margin-bottom: 25px;
        &:after {
            content: "";
            width: 100%;
            height: 2px;
            background: #ed1b26;
            position: absolute;
            left: 0;
            top: calc(50% - 1px);
        }
        span {
            position: relative;
            z-index: 2;
            background: #fff;
            padding: 0 20px;
        }
    }
    .date {
        color: #999999;
        font-size: 14px;
        display: flex;
        align-items: center;
        i {
            margin-right: 10px;
        }
    }
}
.other-detail {
    margin-top: 30px;
    background: rgba(128,128,128,0.15);
    padding: 30px;
    border-radius: 5px;
    h6 {
        margin-bottom: 15px;
    }
    ul {
        list-style: none;
        font-size: 14px;
        li {
            margin-bottom: 6px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    a {
        position: relative;
        padding-left: 20px;
        &:after {
            content: "";
            width: 6px;
            height: 6px;
            background: #000000;
            position: absolute;
            top: 5px;
            left: 0;
        }
    }
}
.service {
    padding-top: 60px;
}
.list-service {
    .row {
        margin: 0;
        .col-md-3 {
            padding: 0;
        }
    }
}
.item-service {
    position: relative;
    .info-srv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
        background: #00000073;
        color: #fff;
        transform: scale(0);
        transition: .4s all !important;
        a {
            color: #fff;
        }
        h3 {
            a {
                font-size: 20px;
                display: block;
                line-height: 1.4;
            }
        }
        .desc {
            padding: 10px 0;
        }
    }
    &:hover {
        .info-srv {
            transform: scale(1);
        }
    }
    .view-srv {
        a {
            display: inline-flex;
            height: 35px;
            align-items: center;
            background: $red;
            padding: 0 15px;
            border-radius: 5px;
            border: 1px solid $red;
            color: #fff;
            &:hover {
                color: $red;
                background: #fff;
            }
        }
    }
}
.avarta-review {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
}
.share-prd {
    padding: 20px 0;
    li {
        margin-right: 0 !important;
    }
}
.info-preview {
    h1 {
        font-size: 20px;
        color: $red;
    }
    ul {
        list-style: none;
        li {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.tab-preview {
    margin-top: 30px;
    .top {
        border-bottom: 1px solid #dbdbdb;
        padding-bottom: 10px;
        margin-bottom: 20px;
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            li {
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        a {
            display: inline-flex;
            height: 31px;
            background: #eee;
            align-items: center;
            padding: 0 15px;
            font-size: 14px;
            &.active, &:hover {
                background: #333;
                color: #fff;
            }
        }
    }
}
.tab-preview-content {
    .tab-content {
        display: none;
        &.active {
            display: block;
        }
    }
    h3 {
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    ul {
        list-style: none;
        li {
            margin-bottom: 6px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.other-prd {
    margin-top: 40px;
    .item-prd .avarta img {
        height: 225px;
    }
}